<link
  crossorigin="anonymous"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  rel="stylesheet"
/><!-- FontAwesome Icon Font -->
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
  rel="stylesheet"
/><!-- LinearIcons Icon Font -->
<link
  href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"
  rel="stylesheet"
/><!-- Main Stylesheet -->
<app-welcome>

</app-welcome>
<app-form>

</app-form>
